*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse prefs files
*.prefs

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

.metadata
bin
target/
